@{
    ViewBag.Title = "Admin";
}

<h3>Add artist:</h3>
@using (Html.BeginForm("AddArtist", "Admin", FormMethod.Post))
{
    <fieldset class="form-group">
        <label for="artistName">Name</label>
        <input id="artistName" name="name" class="form-control"/>
    </fieldset>
    <fieldset class="form-group">
        <label for="artistCountry">Country</label>
        <input id="artistCountry" name="country" class="form-control"/>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
}