@{
    ViewBag.Title = "Admin";
}

<div default-route="/artist">
    <div ng-controller="AdminController">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': selectedTab === 'Artist'}">
                <a ng-click="changeTab('Artist')">Add artist</a>
            </li>
            <li ng-class="{'active': selectedTab === 'Album'}">
                <a ng-click="changeTab('Album')">Add album</a>
            </li>
        </ul>

        <div ng-view></div>
    </div>
</div>