@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main ng-controller="AdminController">
    <h1>Admin</h1>

    <ul class="nav nav-tabs">
        <li ng-class="{'active': selectedTab === 'Artist'}">
            <a ng-click="changeTab('Artist')">Edit artist</a>
        </li>
        <li ng-class="{'active': selectedTab === 'Album'}">
            <a ng-click="changeTab('Album')">Add album</a>
        </li>
    </ul>

    <div ng-view></div>
</main>