<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.data.ArtistName}} Albums</h3>
</div>
<div class="modal-body" id="modal-body">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody ng-repeat="album in $ctrl.data.Albums | orderBy: 'Year'">
        <tr>
            <td class="col-md-1" ng-bind="$index + 1"></td>
            <td class="col-md-4" ng-bind="album.Name"></td>
            <td class="col-md-5" ng-bind="album.Year"></td>
            <td class="col-md-2" ng-bind="album.Price.Amount + album.Price.Currency"></td>
        </tr>
        <tr>
            <td colspan="1"></td>
            <td colspan="1">
                <img class="img-responsive" src="https://lastfm-img2.akamaized.net/i/u/770x0/07f492a00c904cc6ccf868010be4d5a6.jpg"/>
            </td>
            <td colspan="10">
                <div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Duration</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="track in album.Tracks | orderBy: 'Number'">
                        <tr>
                            <td ng-bind="track.Number"></td>
                            <td ng-bind="track.Name"></td>
                            <td ng-bind="track.Duration | secondsToDateTime | date: 'm:ss'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>