<h3>Albums</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Artist</th>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody ng-repeat="album in albums | orderBy: 'Year'">
        <tr ng-click="expandTableRow($index)">
            <td ng-bind="$index + 1"></td>
            <td ng-bind="album.ArtistName"></td>
            <td ng-bind="album.Name"></td>
            <td ng-bind="album.Year"></td>
            <td ng-bind="album.Price.Amount + album.Price.Currency"></td>
        </tr>
        <tr class="collapse-row">
            <td colspan="1"></td>
            <td colspan="11">
                <div uib-collapse="rowExpand[$index]">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="track in album.Tracks | orderBy: 'Number'">
                            <tr>
                                <td ng-bind="track.Number"></td>
                                <td ng-bind="track.Name"></td>
                                <td ng-bind="track.Duration | secondsToDateTime | date: 'm:ss'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>