<!DOCTYPE html>
<html ng-app="musicStoreApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/public/common.min.js"></script>
</head>
<body>
<div class="container body-content">
    @Html.Partial("_TopMenu")
    @RenderBody()
</div>
</body>
</html>